@import './header.css';
@import './footer.css';
@import './section_topics.css';
@import './aside.css';

*,
*::before,
*::after {
    --azul-escuro: #154580;
    --azul-medio: #3970BE;
    --azul-claro: #E5F1FF;
    --cinza-texto: #444444;
    --cinza-claro: #ECECEC;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: var(--azul-claro);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    text-align: center;
}

/* CABEÇALHO replaced to header.css */ 



/* MENU LATERAL -> replaced to aside.css */

/* SECAO SUPERIOR -> replaced to section_topics.css */


/* SEÇÃO VÍDEOS */

.videos__container {
    color: black;
    padding: 153px 20px 10px 20px;
}

.videos__item:hover {
    transform: scale(1.3);
    background-color: var(--azul-claro);
    z-index: 2;
    transition: .5s;
}

.descricao-video h3 {
    font-weight: 700;
    color: #444444;
}

.descricao-video p {
    font-size: 14px;
    color: #444444;
}

/* RODAPÉ -> replaced to footer.css */

@media(min-width: 834px) {

    body {
        height: 100vh;
    }

    /* ESTILOS DO MENU LATERAL */

    

    /* ESTILOS DA SECAO SUPERIOR */


    /*ESTILOS SEÇÃO VÍDEOS */

    .videos__container {
        padding-left: 90px;
        padding-right: 17px;
    }

    .videos__item:hover {
        transform: scale(1.3);
    }

    /* ESTILOS RODAPÉ */


}

@media(min-width: 1440px) {

    /* SEÇÃO SUPERIOR */

    /* ESTILOS DO MENU LATERAL */

   

    /* ESTILOS VIDEOS */

    .videos__container {
        padding-right: 10px;
        padding-left: 248px;
    }

    /* ESTILOS RODAPÉ */


}