
.rodape__container {
    width: 100%;
    height: 875px;
    color: var(--cinza-texto);
    line-height: 1.5;
    font-size: 16px;
    background-color: white;
}

.rodape__titulo {
    color: var(--azul-medio);
    font-weight: bold;
    padding: 10px 0 20px 0;
}
