.cabecalho__container {
    background-color: white;
    height: 80px;
    width: 100%;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.logo__item {
    background-image: url(../img/cabecalho/Logo.png);
    background-repeat: no-repeat;
    padding: 15px 65px;
    cursor: pointer;
}

.pesquisar__input {
    width: 260px;
    height: 32px;
    border: 1px solid rgb(211, 211, 211);
    font-size: 16px;
    padding: 3px 8px;
    border: 1px solid rgb(211, 211, 211);
}

.pesquisar__label {
    background-image: url(../img/cabecalho/search.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(211, 211, 211);
    background-color: #F9F9F9;
    border-left: none;
    padding: 8px 18px 5px;
    cursor: pointer;
}

.cabecalho__audio {
    background-image: url(../img/cabecalho/mic.png);
    padding: 20px;
    display: none;
}

.cabecalho__videos {
    background-image: url(../img/cabecalho/video_call.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.cabecalho__apps {
    background-image: url(../img/cabecalho/apps.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecalho__notificacoes {
    background-image: url(../img/cabecalho/notifications.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecalho__avatar {
    background-image: url(../img/cabecalho/Avatar.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecalho__pesquisar__item {
    display: none;
}

@media screen and (min-width:834px) {
    .cabecalho__pesquisar__item {
        display: block;
    }
}